<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <title>About me</title>
</head>

<body>
  <img src="/images/about-background.jpg" alt="about background">
  <div id="about_body_wrap">
      <% include partials/navbar %>

      <main class="container">
        <h1>My experience</h1>
        <div class="item-right">
          <div class="year">
            <p>2005</p>
          </div>
          <div class="content">
            <h3>Lorem ipsum dolor sit</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati minus voluptate earum, rem labore vitae aliquid quis
              illo odio nisi. Magni eius neque iste pariatur ut deleniti distinctio officiis cupiditate aperiam sit, minima
              voluptatem tempora ratione voluptate adipisci vero sunt doloribus suscipit maiores molestias nihil dicta esse
              voluptas! Labore, tempora!
            </p>
          </div>
        </div>
        <div class="item-left">
          <div class="year">
            <p>2008</p>
          </div>
          <div class="content">
            <h3>Magni eius neque iste</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati minus voluptate earum, rem labore vitae aliquid quis
              illo odio nisi. Magni eius neque iste pariatur ut deleniti distinctio officiis cupiditate aperiam sit, minima
              voluptatem.
            </p>
          </div>
        </div>
        <div class="item-right">
          <div class="year">
            <p>2010</p>
          </div>
          <div class="content">
            <h3>Labore, tempora!</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati minus voluptate earum, rem labore vitae aliquid quis
              illo odio nisi. Magni eius neque iste pariatur ut deleniti distinctio officiis cupiditate aperiam sit, minima
              voluptatem tempora ratione voluptate adipisci vero sunt doloribus suscipit maiores molestias nihil dicta esse
              voluptas! Labore, tempora! Meque iste pariatur ut deleniti distinctio officiis cupiditate aperiam sit, minima voluptatem tempora ratione voluptate adipisci
              vero sunt doloribus suscipit maiores molestias nihil dicta esse voluptas!
            </p>
          </div>
        </div>
        <div class="item-left">
          <div class="year">
            <p>2014</p>
          </div>
          <div class="content">
            <h3>Amet consectetur</h3>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati minus voluptate earum, rem labore vitae aliquid quis
              illo odio nisi. Magni eius neque iste pariatur ut deleniti distinctio officiis cupiditate aperiam sit, minima
              voluptatem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati minus voluptate earum, rem labore vitae aliquid quis
              illo odio nisi. Magni eius neque iste pariatur ut deleniti distinctio officiis cupiditate aperiam sit, minima voluptatem
              tempora ratione voluptate adipisci vero sunt doloribus suscipit maiores molestias nihil dicta esse voluptas! Labore, tempora!
            </p>
          </div>
        </div>
      </main>

      <footer class="container">
        <div class="maintenence">© 2018 Farrukh Mirkhamidov inc. Everything is reserved except rights. </div>
        <div class="author">Crafted with &#10084; by <a href="#">Mardon</a></div>
      </footer>
  </div>
</body>

</html>