<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activities</title>
</head>
<body>
<img src="/images/activity-background.jpg" alt="activity background">
<div id="activity_body_wrap">
  <% include partials/navbar.ejs %>

</div>
</body>
</html>