<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <title>Farruxbek</title>
</head>

<body>
  <img src="/images/home-background.jpg" alt="home background">
  <div id="home_body_wrap">
      <% include partials/navbar.ejs %>

      <main class="container">
        <span class="first_name">Farrukh</span>
        <br>
        <span class="second_name">Mirkhamidov</span>
        <p>
          I’M A
          <span class="highlight">WHOEVERIAM</span> from Uzbekistan living in UAE, where I work as a Worker at Dubai. With a background in advertising,
          my strength lies in
          <span class="highlight">sales</span> and
          <span class="highlight">marketing</span>. If you want to know more about me, my work or if youʼre a prince of UAE who wants to offer me
          a lot of money, feel free to contact me on
          <span class="highlight">Farrukh.M@gmail.com</span>
        </p>
      </main>

      <footer></footer>
  </div>
</body>

</html>